#video{
    position: absolute;
    z-index:-1;
    width: 100%;
}

#navbar div{
    display:inline; 
}

/* #navbar{
    color: white;
    position: absolute;
    left: 1265px;
    top:1000px;
} */

#profile{
    height: 300px;
    position: absolute;
    left: 547px;
}

#tag_line{
    position: absolute;
    left: 405px;
    top: 394px;
    font-size: 50px;
}

#about{
    position: absolute;
    top: 500px;
    left: 300px;
}

#technologies{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 506px;
    margin-bottom:20px;
}

#technologies img{
    height:150px;
    width: 150px;
}

#portfolio{
    border: 2px solid black;
}