html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Varela Round', sans-serif; 
}

.fade_in{
    animation: fadeIn 2s;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

#video{
    position: absolute;
    z-index:-1;
    width: 2000px;
    bottom:2px;
}

#page1{
    overflow-x:hidden;
}

#heading{
    text-align:center;
}

#profile_pic_container{
    text-align: center;
}

#profile{
    height: 300px;
    box-shadow:2px;
}

#tag_line{
    text-align:center;
    font-size: 50px;
}

#about{
    text-align:center;
}

#technologies{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#technologies img{
    height:100px;
    width: 100px;
}

#contact img{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

#contact{
    text-align: center;
}
#see_more{
    text-align: center;
    margin-top: 20px;
}

#see_more_button{
    height: 35px;
    width: 35px;
    transition: all .2s ease-in-out;
}

#see_more_button:hover { 
    transform: scale(1.5); 
}

#portfolio{
    text-align: center;
}

p{
    font-size: 20px;
}

#bill_splitter{
    text-align: center;
}

#bill_splitter_image{
    margin: 0 auto;
    border-radius: 30px;
}


#admin_panel{
    text-align:center;
}

#admin_panel_image{
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
}

#admin_panel_image:hover{
    border: 2px solid blue;
}

#pokeanalyzer{
    text-align:center;
}

#pokeanalyzer_image{    
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
}

#pokeanalyzer_image:hover{
    border: 2px solid blue;
}

#bill_splitter_image:hover{
    border: 2px solid blue;
}